/* Main */
html {
    scroll-behavior: smooth; 
   
}
body {
   width: 95%;
   margin: auto;
   background-color: #fff;
   font-family: 'Maven Pro', sans-serif;;
  
}


/* Navigation */

#logo {
    width: 4%;
margin: auto;
}

nav {
    margin: 1% 0;
}
.menu {
    float:right;
    width: 90%;
    text-align: right;
    position:absolute;
    top:4.5%;
}
.menu a {
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
    padding: 2%;
    font-size:12px;
}

.menu a:hover {
    color:#1F406E;
    font-weight:bold;
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.blue-overlay {
    background-image:
    linear-gradient(to bottom, rgba(71, 115, 175, 0.60), rgba(71, 115, 175, 0.90)),
    url('images/background.jpg');
    width: 97.2%;
height:95%;
    background-size: cover;
    color: white;
    padding: 20px;
    position:absolute;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Overskrift på Carousel */
.text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position:absolute;
  top:40%;
  width: 100%;
  text-align: center;
}
.read-more {
color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position:absolute;
  top:55%;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dots {
    position: absolute;
    top:80%;
    left:0%;
    text-align: center;
    margin: auto;
    width: 100%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;


}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Blue boxes */
.blue-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.blue-boxes a {
  text-decoration: none;
}
.blue-boxes p {
    color:white;
    text-align: center;
}
.blue-boxes img {
  width:30%;
  text-align: center;
  margin: auto;
}
.box1, .box2, .box3 {
background-color: #4777BB;
width: 50%;
margin: auto;

}